html{
	height: 720px;
}
body{
	margin: 0%;
    height: 100%;
}
ul 
{
list-style-type: none;
}
a:link 
{ 
	text-decoration:none; 
	color: #DB0B03;
	font-weight: bold;

} 
a:visited
{
	color: #DB0B03;
}
a:hover
{
	color: black;
}
header{
	height: 15%;
}
nav{
	height: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: solid #5F68F8;
}
#icone_site{
	width: 20%;
}
#menu_haut
{
	width: 40%;
	display: flex;
	justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
	position: relative;
	top: 0em;  
	color: black;
}
.menu_haut_element
{
	display: flex;
	flex-direction: row;
	border: 1px black;
	border-radius: 10%;
	border-bottom: solid #EE0066;

}
.menu_haut_element:hover
{
	border-bottom: solid black;
}
#panneau_haut{
	width: 40%;
	height: 10%;
	display: flex;
	justify-content: flex-end;
    margin: 0%;
}
.panneau_haut_element{
	height: 100%;
	display: flex;


}
.panneau_haut_element_image{
    width: 40px;
    height: 40px;
}
#presentoir{
	display: flex;
	height: 85%;
}
#categorie{
	width: 20%;
	height: 100%;
	margin: 0%;
	border-right: solid #009BE7;
}
#categorie li{
	margin-top: 20px;
	height: 40px;
	border-bottom: solid #009BE7;
}
#categorie a{
	color: #008AFF;
}
#categorie  p {
	color: #008AFF;
	font-weight: bold;
}
#vitrine{
	width: 80%;
}
#filtre{
	height: 10%;
	display: flex;
	align-items: center;

}
#filtre select{
	height: 28px;
	margin-left: 3%;
	width: 30%;
}
#chaussures{
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#chaussures div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 207px;
	margin-left: 3.7%;
	margin-right: 3.7%;
	margin-bottom: 0.05%;


}
#chaussures div input{
	height: 207px;
	width: 207px;

}